<h1 class = "centered fancy" >Dashboard</h1>
<div id="welcome">
  <h2 id="welcome-message">Welcome to the Inventory System</h2>
  <p> You have 6 items defined in the system. </p>
  <p>
    The
    <span id="average" class="bold-blue">average</span>
    price of a sales item is $40.71.
  </p>
</div>
